<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人通讯录系统</title>
    <style type="text/css">
        ul li {list-style-type: none}
        body{
            background-image: url(https://img2.baidu.com/it/u=923478948,106462584&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
<form th:action="@{/user/deleteById}" method="post">

    <ul>
        <li><input type="hidden" name="id" th:value="${findUser.id}">
        <li>name:
        <li><input type="text" name="name" th:value="${findUser.name}">
        <li>phone:
        <li><input type="text" name="phone" th:value="${findUser.phone}">
        <li>address:
        <li><input type="text" name="address" th:value="${findUser.address}">
        <li><input type="submit" value="确认">
        <li><input type="button" value="取消" onclick="window.location.href='/user/selectAllUser'">
    </ul>
</form>
</body>
</html>
