<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        ul li {list-style-type: none}
    </style>
</head>
<body>
<form th:action="@{/user/updateUser}" method="post">

    <ul>
        <li><input type="hidden" name="id" th:value="${findUser.id}">
        <li>name:
        <li><input type="text" name="user_name" th:value="${findUser.user_name}">
        <li>phone:
        <li><input type="text" name="phone_number" th:value="${findUser.phone_number}">
        <li>address:
        <li><input type="text" name="address" th:value="${findUser.address}">
        <li><input type="submit" value="确认">
        <li><input type="button" value="取消" onclick="window.location.href='/user/selectAllUser'">
    </ul>
</form>
</body>
</html>
